// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-home {
    background-image: url(image_path('sky.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1{
	font-size: 5rem;
	font-family: 'Pinyon Script', cursive;
	font-style: bold;
	
}

h3{
	font-size: 1.5rem;
}

.logo{
	max-width: 15rem;
	float: center;
}

.ofcom{
	max-width: 10rem;
	float: center;
}

.cite{
	
}

blockquote{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 1.25rem;
}